/*
*{
    color: black;
}
h1 {
    color: rgb(243, 105, 128);
}

p{
    color: red;
}
button{
    color: blue; 
}

body{
    background-color:rgb(243, 243, 131);
}   
button{
    background-color: #b93737 ;
}
#heading2{
    color: green;
}
.myclass{
    color: chocolate;
}
#box {
    background-color: rgb(12, 218, 12);
    
}
div{
    text-align: start;
}
h1{
    text-align: center;
    text-decoration: blue wavy underline;
    text-decoration: overline;
    text-decoration: line-through;
}
a{
    text-decoration: none;
}
#h1{
    font-weight: normal;
}
#h2{
    font-weight: bold;
}
#h3{
    font-weight: bolder;
}
#h4{
    font-weight: lighter;
}
div{
    font-family: Arial;
    font-size: 20px;
    line-height: normal;
    text-transform: lowercase;
}
*/
/*Level 2*/
#div1{
    height:100px;
    width: 100px;
    background-color: rgb(245, 96, 121);
    border-width: 3px;
    border-style: solid;
    border-color: brown;
    text-align: center;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}
#div2{
    height:100px;
    width: 100px;
    background-color: rgb(245, 96, 121);
    text-align: center;
    border:3px solid brown;
    border-radius: 50%;
    padding:1px 2px 3px 4px;
    margin:1px 2px 3px 4px;
}
h1{
    height: 50px;
    width: 200px;
    background-color: rgb(135, 135, 224);
    border-width: 3px;
    border-style: dashed;
    border-color: black;
    text-align: center;
}